{{#> layouts/base }}

{{#*inline "hero-block"}}
<tr>
    <td valign="top" class="side title"
        style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;vertical-align: top;background-color: white;border-top: none;">
        <table
            style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
            <tr>
                <td class="head-title"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 28px;line-height: 34px;font-weight: bold; text-align: center;">
                    <div class="mktEditable" id="main_title">
                        Welcome To Darkkom
                    </div>
                </td>
            </tr>
            <tr>
                <td class="sub-title"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 0;padding-top:5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 18px;line-height: 29px;font-weight: bold;text-align: center;">
                    <div class="mktEditable" id="intro_title">
                        <!-- Sub title -->
                    </div>
                </td>
            </tr>
            <tr>
                <td class="top-padding"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                </td>
            </tr>
            <tr>
                <td class="grey-block"
                    style="border-collapse: collapse;border: 0;margin: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff; text-align:center;">
                    <div class="mktEditable" id="cta">
                        <img class="top-image"
                            src="https://darkkom.ma/_next/static/media/banner.b64a1ad6eb719d46752bb5ddf4f15c10.png"
                            width="560" /><br><br>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="top-padding"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 15px 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 21px;">
                    <hr size="1" color="#eeeff0">
                </td>
            </tr>
            <tr>
                <td class="text"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                    <div class="mktEditable" id="main_text">
                        Hello Mr. {{userName}} in the real estate family and we are very happy to have you join us, real estate platform
                        Licensed to provide the service of buying, selling and renting real estate. We offer you the latest real estate offers
                        In the cities of the Morocco and the application is committed to the controls of real estate listing, we hope
                        You have a unique experience in the real estate application, and for us, you are partners of success, working together to achieve our ambitious goals.
                    </div>
                </td>
            </tr>

        </table>
    </td>
</tr>
<tr>
    <td
        style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px; padding: 20px;">
        <div class="mktEditable" id="cta_try">
            <table border="0" cellpadding="0" cellspacing="0" class="mobile"
                style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                <tr>
                    <td class="force-col" valign="top"
                        style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;">

                        <table class="mb mt"
                            style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;margin-bottom: 15px;margin-top: 0;">
                            <tr>
                                <td class="grey-block"
                                    style="border-collapse: collapse;border: 0;margin: 0;padding: 18px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;background-color: #fff; border-top: 3px solid #31154E; border-left: 1px solid #E6E6E6; border-right: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6; width: 250px; text-align: center;">

                                    <span
                                        style="font-family: Arial, sans-serif; font-size: 24px; line-height: 39px; border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559; text-align: center;font-weight: bold;">
                                       Find your dream home </span><br>Use the search guide to find what you want<br><br>
                                    <a style="color:#ffffff; background-color: #31154E;  border-top: 10px solid #31154E; border-bottom: 10px solid #31154E; border-left: 20px solid #31154E; border-right: 20px solid #31154E; border-radius: 3px; text-decoration:none;"
                                        href="https://darkkom.ma">Try Now</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="rm-col"
                        style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;padding-right: 15px;">
                    </td>
                    <td class="force-col" valign="top"
                        style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;">
                        <table class="mb mt"
                            style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;margin-bottom: 15px;margin-top: 0;">
                            <tr>
                                <td class="grey-block"
                                    style="border-collapse: collapse;border: 0;margin: 0;padding: 18px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;background-color: #fff; border-top: 3px solid #31154E; border-left: 1px solid #E6E6E6; border-right: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6; width: 250px; text-align: center;">
                                    <span
                                        style="font-family: Arial, sans-serif; font-size: 24px; line-height: 39px; border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559; text-align: center;font-weight: bold;">
                                        Quick search in the most popular cities </span><br>Choose the city you want to move to<br><br>
                                    <a style="color:#ffffff; background-color: #31154E;  border-top: 10px solid #31154E; border-bottom: 10px solid #31154E; border-left: 20px solid #31154E; border-right: 20px solid #31154E; border-radius: 3px; text-decoration:none;"
                                        href="https://darkkom.ma/search">Search</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
{{/inline}}

{{/layouts/base}}