<tr bgcolor="#fff" style="border-top: 4px solid #31154E;">
    <td valign="top"
        style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background: #fff;text-align: center;">
        <table
            style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
            <tr>
                <td class="inside-footer" align="center" valign="middle"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 12px;line-height: 16px;vertical-align: middle;text-align: center;width: 580px;">
                    <div id="address" class="mktEditable">
                        <b>Darkkom App</b><br> المغرب، <br>الرباط
                        المغرب &nbsp;
                        <a style="color: #31154E;" href="https://darkkom.ma/contact-us">تواصل معنا</a>
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>