<tr style="border-bottom: 4px solid #31154E">
    <td dir="rtl" colspan="4" valign="top"
        style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff;border-bottom: 4px solid #31154E">
        <a href="https://darkkom.ma"><img width="200" height="100"
                src="https://darkkom.ma/Logo-right.png" style="line-height: 1;width: 200px;" alt=""></a>
    </td>
</tr>